<div id="detail">
  <div class="container">
    <div class="header-container">
      <h1>Activiteit detail pagina</h1>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4><%= activity.title%></h4>
      <p><%= activity.description%></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
